[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/aggregion/chainbase
        ignore = dirty
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/aggregion/appbase
        ignore = dirty
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/aggregion/berkeley-softfloat-3
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/aggregion/fc
[submodule "libraries/wabt"]
	path = libraries/wabt
	url = https://github.com/aggregion/wabt
[submodule "libraries/yubihsm"]
	path = libraries/yubihsm
	url = https://github.com/Yubico/yubihsm-shell
